@model CustomerGet.Models.HomeViewModel

<div>
    Customer List
</div>

<p></p>

<table width="300" border="1">
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td width="40%">
                @customer.FirstName
            </td>
            <td width="40%">
                @customer.LastName
            </td>
            <td width="20%">
                @Html.ActionLink("View", "Customer", new { CustomerId = customer.id })
            </td>
        </tr>
    }
</table>

<p></p>

<div>
    @{ 
        var count = Model.Customers.Count;
        var countText = (Model.Customers.Count == 1) ? "result" : "results";
    } 
    @count @countText
</div>